{% extends "web/base.html" %}

{% block title %}Agregar dispositivo | AutoHogar{% endblock title %}

{% block content %}
<div class="container">
	<div class="section">
		<div class="row">
			<h3 class="center-align"><strong>Agregar dispositivo a {{house.nombre}}</strong></h3>
		</div>
		<div class="divider"></div>
		<div class="row">
			<form class="col s8 offset-s2" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col s12">
						<input id="name" name="name" type="text" class="validate" required>
						<label for="name">Nombre</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="name_dev" name="name_dev" type="text" class="validate" data-length="10" required>
						<label for="name_dev"></label>
					</div>
				</div>
				<div class="row">
					<p class="col s12 m4">
						<input name="type_dev" value="light" type="radio" id="light" checked />
						<label for="light">Luz</label>
					</p>
					<p class="col s12 m4">
						<input name="type_dev" value="garage" type="radio" id="garage" />
						<label for="garage">Garage</label>
					</p>
					<p class="col s12 m4">
						<input name="type_dev" value="ther" type="radio" id="ther"  />
						<label for="ther">Term&oacute;metro</label>
					</p>
				</div>
				<button class="btn waves-effect waves-light" type="submit">Crear<i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}