{% extends "web/base.html" %}

{% block title %}Agregar casa | AutoHogar{% endblock title %}

{% block content %}
<div class="container">
	<div class="section">
		<div class="row">
			<h3 class="center-align"><strong>Agregar casa</strong></h3>
		</div>
		<div class="divider"></div>
		<div class="row">
			<form class="col s10 offset-s1" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col s12">
						<input id="name" name="name" type="text" class="validate">
						<label for="name">Nombre</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit">Crear<i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}