<div class="col s12 m4 l3">
	<div class="card garage sticky-action hoverable">
		<div class="card-image">
			<div class="activador blue lighten-2" style="width:100%;">
				<h5 class="center-align" style="margin:0px;">
					<i class="material-icons large">directions_car</i>
				</h5>
			</div>
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">{{d.nombre}}<i class="material-icons right">more_vert</i></span>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">{{d.nombre}}<i class="material-icons right">close</i></span>
			<p>{# Here will go a simple description #}</p>
		</div>
		<div class="card-action">
			<a href="" class='abrirG'><input hidden value='{{d.garage.id}}'>Abrir</a>
			<a href="" class='cerrarG right' style="margin-right:0px;"><input hidden value='{{d.garage.id}}'>Cerrar</a>
		</div>
	</div>
</div>