{% extends "web/base.html" %}
{% load staticfiles %}

{% block title %}Inicio | Automatizaci&oacute;n del hogar{% endblock title %}

{% block activeInicio %}active{% endblock activeInicio %}

{% block content %}
<div class="container">
	<div class="section" style="padding-left:10px;padding-right:10px;">
		<div class="row">
			<h3 class="center-align"><strong>Dispositivos</strong></h3>
		</div>
		<div class="divider"></div>
		<div class="row">
			{% for d in disp %}
				{% if d.luz %}
					{% include "web/light.html" %}
				{% endif %}
				{% if d.garage %}
					{% include "web/garage.html" %}
				{% endif %}
			{% endfor %}
		</div>
		<!--{% for group in group_list %}
			<div class="row">
				{% for d in group %}
					{% if d.luz %}
						{% include "web/light.html" %}
					{% endif %}
					{% if d.garage %}
						{% include "web/garage.html" %}
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %} -->
	</div>	
</div>	
{% endblock content %}

{% block extraScripts %}
	<script type="text/javascript" src="{% static 'web/js/light.js' %}"></script>
{% endblock extraScripts %}

{#
<div class="row">
			<div class="col s12 m4 l3">
				<div class="card sticky-action hoverable">
					<div class="card-image">
						<div class="activador red darken-2" style="width:100%;height:120px;">
							<h5 class="center-align" style="margin:0px;">
								<i class="material-icons" style="font-size:120px;">lightbulb_outline</i>
							</h5>
						</div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Luces living<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Luces living<i class="material-icons right">close</i></span>
						<p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<div class="switch right-align" id="switchRed">
							<label>Off<input type="checkbox"><span class="lever"></span>On</label>
						</div>
					</div>
				</div>
			</div>

			<div class="col s12 m4 l3">
				<div class="card sticky-action hoverable">
					<div class="card-image">
						<div class="activador deep-purple lighten-2" style="width:100%;height:120px;">
							<h5 class="center-align" style="margin:0px;">
								<i class="material-icons" style="font-size:120px;">ac_unit</i>
							</h5>
						</div>					
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Aire<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Aire<i class="material-icons right">close</i></span>
						<p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Encender</a>
						<a href="#" class='right' style="margin-right:0px;">Apagar</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4 l3">
				<div class="card sticky-action hoverable">
					<div class="card-image">
						<div class="activador red lighten-2" style="width:100%;height:120px;">
							<h5 class="center-align" style="margin:0px;">
								<i class="material-icons" style="font-size:120px;">lock</i>
							</h5>
						</div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Alarma<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Alarma<i class="material-icons right">close</i></span>
						<p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Encender</a>
						<a href="#" class='right' style="margin-right:0px;">Apagar</a>
					</div>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="card sticky-action hoverable">
					<div class="card-image">
						<div class="activador red lighten-2" style="width:100%;height:120px;">
							<h5 class="center-align" style="margin:0px;">
								<i class="material-icons" style="font-size:120px;">exit_to_app</i>
							</h5>
						</div>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Salir<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Salir<i class="material-icons right">close</i></span>
						<p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
						<a href="#">Encender</a>
						<a href="#" class='right' style="margin-right:0px;">Apagar</a>
					</div>
				</div>
			</div>
		</div>
#}